* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.836);
    color: white;
}

.brand-title {
    font-size: 30px;
    margin: .5rem;
    color:rgb(255, 255, 255);
    
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    font-size: 20px;
}

.navbar-links li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li::after {
    background-color: #ffffff;
    content: '';
    display: block;
    width: 0;
    height: 5px;
    transition: width .4s
}
.navbar-links li:hover::after {
    width: 100%;
    transition: width .4s
}



.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}




@media (max-width: 650px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .brand-title {
        font-size: 25px;
        
        
    }
}